{% extends ('base.html.twig') %}
{% block title %}Upate Question{% endblock %}
{% block body %}
    <h2 align="center" class="mt-5">Upate Question</h2>
    <div class="container">
        <div class="card">
            <form action="{{ path('app_question_update_database',{id:question.id})}}" method="post">
                <div class=" p-5">

                    <div class="form-group">
                        <label for="addquestion"><strong> Enter Question </strong></label>
                        <textarea class="form-control" name="addquestion" cols="60" rows="2" id="addquestion" >{{question.question}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="wronganswer1"><strong>Enter Wrong  Answer1 </strong></label>
                        <input  class="form-control"  name="wronganswer1" type="text" id="wronganswer1" size="85" maxlength="85"  value={{question.wrong1}}>
                    </div>
                    <div class="form-group">
                        <label for="wronganswer2"><strong>Enter Wrong Answer2 </strong></label>
                        <input  class="form-control"  name="wronganswer2" type="text" id="wronganswer2" size="85" maxlength="85"  value={{question.wrong2}}>
                    </div>
                    <div class="form-group">
                        <label for="wronganswer3"><strong>Enter Wrong Answer3 </strong></label>
                        <input  class="form-control"  name="wronganswer3" type="text" id="wronganswer3" size="85" maxlength="85"  value={{question.wrong3}}>
                    </div>
                    <div class="form-group">
                        <label for="wronganswer4"> <strong>Enter Wrong Answer4</strong></label>
                        <input  class="form-control"   name="wronganswer4" type="text" id="wronganswer4" size="85" maxlength="85"  value={{question.wrong4}}>
                    </div>
                    <div class="form-group">
                        <label for="correctanswer"><strong>Enter Correct Answer </strong></label>
                        <input  class="form-control"   name="correctanswer" type="text" id="correctanswer" size="50" maxlength="50"  value={{question.answer}}>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}