{% extends 'base.html.twig' %}
{% block title %}Newexam{% endblock %}
{% block body %}
    <div class="container">
        <div class="row col-12 justify-content-center">
            <h1 >Exam</h1>
        </div>
        <form action="{{ path('app_exam_process') }}" method="post">
            {% for question in questions %}
                <div class="row col-12 ">
                    <ul class="list-unstyled">
                        <li>{{ question.id }}.<b>{{ question.question }}</b></li>
                         <ul class="list-unstyled">
                         {% for answer in answers %}
                         {% if question.id == answer.question.id %}
                            <li><input type="radio" name="ques[{{ question.id }}]" value="{{ answer.id }}">{{ answer.answer }}</li>
                        {% endif %}
                        {% endfor %}                            
                        </ul>
                    </ul>
                </div>

            {% endfor %}
            <div class="justify-content-center pt-3 pb-5" align="center"> <input type="submit" class="bg-dark text-white" name="Submit" value="Submit" /></div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </form>
    </div>
{% endblock %}