{% extends 'base.html.twig' %}
{% block title %}Show Questions{% endblock %}
 {% block body %}
     <h2 align="center" class="pt-5">Questions</h2>
     {% for message in app.flashes('success') %}
         <div class="alert alert-success">
             {{ message }}
         </div>
     {% endfor %}
     <table class="table">
         <thead class="thead-dark">
         <tr>
             <th>QuestionId</th>
             <th>Question</th>
             <th>Wrong Answer 1</th>
             <th>Wrong Answer 2</th>
             <th>Wrong Answer 3</th>
             <th>Correct_Answer</th>
             <th>Action</th>
         </tr>
         </thead>
         {% if questions is empty %}
             <tr>
                 <td colspan="8"><div class="d-inline p-2 bg-dark text-white center">No questions to show!!</div></td>
             </tr>
         {% else %}
         {% for question in questions %}
            <tr>
                <td>{{question.id}}</td>
                <td>{{question.question}}</td>
             
                {% for answer in answers %}
                {% if question.id == answer.question.id %}
                <td>{{ answer.answer }}</td>
                {% endif %}
                {% endfor %}

                 <td><a href="{{ path('app_question_edit',{id:question.id}) }}">Edit/</a>
                    <a href="{{ path('app_question_delete',{id:question.id}) }}">Delete</a> </td> 
            </tr>
        {% endfor %}
        {% endif %}
     </table>
 {% endblock %}